:root{
    --cabecalho: #2E9E23;
    --selecionado: #22791A;
    --underline: #2CE719;
    --fundo1: #48BF3C;
    --fundo2: #4E694B;
    --branco: #ffffff;
}

.cabecalho{
    background-color: var(--cabecalho);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-size: 35px;
    font-weight: bold;
}