:root{
    --cabecalho: #165816;
    --nav: #22791A;
    --sec1: #1d8a1d;
    --sec2: #087208;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color:var(--cabecalho);
    color: white;
    text-align: center;
    padding: 20px;
}

.imagens{
    width: 50%;
    text-align: center;
}

.sec1{
    background-color: var(--sec1);
    margin: 0;
    padding: 0;
}

.sec2{
    background-color: var(--sec2);
    margin: 0;
    padding: 0;
}

nav{
    background-color: var(--nav);
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: var(--cabecalho);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
