:root {
    --cabecalho: #165816;
    --nav: #22791A;
    --sec1: #1d8a1d;
    --sec2: #087208;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: var(--cabecalho);
    color: rgba(255, 255, 255, 0.877);
    padding: 20px 0;
}

.cabecalho-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 60px;
    background: rgb(0, 250, 8);
    background: linear-gradient(90deg, rgb(43, 133, 46) 8%, rgb(54, 255, 3) 51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin: 0;
}

nav {
    background-color: var(--nav);
    width: 100%;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 35px;
}

nav ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.836);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.subtitulo {
    font-size: 28px;
    padding: 30px 0;
}

footer {
    background-color: var(--cabecalho);
    color: rgba(255, 255, 255, 0.884);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.sec1, .sec2 {
    margin: 0;
    padding: 20px;
    text-align: justify;
}

.sec1 {
    background-color: var(--sec1);
}

.sec2 {
    background-color: var(--sec2);
}

.imagens {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 20px;
}

.botao {
    border: none;
    background: transparent;
}

.saibamais {
    display: inline-block;
    cursor: pointer;
    background-color: rgb(0, 255, 64);
    border-radius: 40px;
    letter-spacing: 1px;
    padding: 12px 16px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}

.saibamais:hover {
    background-color: rgb(0, 200, 50);
}

@media (max-width: 646px) {
    .titulo {
        font-size: 40px;
    }
}

@media (max-width: 482px) {
    .titulo {
        font-size: 30px;
    }
}
